.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.main_1 {
  width: 40%;
}

.main_2 {
  width: 40%;
}

.main-imgs {
  height: 350px;
  object-fit: contain;
}

.middle {
  position: absolute;
  top: -8%;
  left: 25%;
  height: 400px;
  object-fit: contain;
}

@media screen and (max-width: 1030px) {
  .main-content {
    gap: 3rem;
  }

  .main_1 {
    width: 50%;
  }

  .main_2 {
    width: 40%;
  }

  .main-imgs {
    height: 250px;
    object-fit: contain;
  }

  .middle {
    position: absolute;
    top: -8%;
    left: 25%;
    height: 300px;
    object-fit: contain;
  }
}

@media screen and (max-width: 800px) {
  .main-content {
    gap: 1rem;
  }

  .main_1 {
    width: 50%;
  }

  .main_2 {
    width: 40%;
  }

  .main-imgs {
    height: 200px;
    object-fit: contain;
  }

  .middle {
    position: absolute;
    top: -15%;
    left: 25%;
    height: 250px;
    object-fit: contain;
  }
}

@media screen and (max-width: 500px) {
  .main-content {
    flex-direction: column;
  }

  .middle {
    position: absolute;
    top: -18%;
    left: 1%;
    height: 250px;
    object-fit: contain;
  }

  .main_1 {
    width: 85%;
  }

  .main_2 {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-head {
    font-size: 3rem;
    line-height: 90%;
  }
}

@media screen and (max-width: 380px) {
  .main_1 {
    width: 90%;
  }

  .main-head {
    font-size: 2rem;
    line-height: 90%;
  }
}
